.rating-stars, .rating-stars ul>li.star {
    display: inline-block
}

.rating-stars {
    margin:25px;
}

.rating-stars ul {
    list-style-type: none;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select:none;
}

.rating-stars ul>li.star>i.fa-star {
    font-size: 2.5em;
    padding-right:10px;
    color: #d1d1d1;
}

.rating-stars ul>li.star.hover>i.fa-star {
    color: #ffc80f;
}

.rating-stars ul>li.star.selected>i.fa-star {
    color: #f70;
}
i.fa-star {
    cursor: pointer;
}
